<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>GET-ADDRESS-API</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/default5.css}" />
</head>
<body>

	<h1 class="register-title">Address-API</h1>
	<form class="register" action="/global/api/getLocation">
		<input type="text" class="register-input" placeholder="Lattitude"
			name="lattitude" /> <input type="text" class="register-input"
			placeholder="Longitude" name="longitude" /> <input type="submit"
			value="Get Address" class="register-button" />
	</form>
	<br></br>
	<br></br>
	<div th:each="add : ${address}" class="register">
		<h1 th:text="${add}" style="color: navy; font-weight: bold;"></h1>
		<h2 th:text="${errorMessage}" style="color: red; font-weight: bold;"
			align="center"></h2>
	</div>
</body>
</html>
